{
  "output": {
    "directory": "./madlava-output"
  },
  "reporting": {
    "snapshotIntervalSeconds": 1,
    "shutdownSnapshotOnly": false
  },
  "features": {
    "methodProfiling": {
      "enabled": true,
      "maxEntries": 2048
    },
    "sparkSerialization": {
      "enabled": true,
      "profile": "ALL",
      "rootClasses": true,
      "maxGroups": 2048
    }
  },
  "filters": {
    "methods": {
      "includes": [
        "com.example.*.*",
        "org.apache.spark.serializer.JavaSerializerInstance.*",
        "org.apache.spark.serializer.KryoSerializerInstance.*"
      ],
      "excludes": []
    }
  }
}
